html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
summary,
time,
mark,
audio,
video,
input {
  margin: 0;
  padding: 0;
  border: none;
  outline: 0;
  font-family: STHeitiSC-Light;
  font: inherit;
  vertical-align: baseline;
}

html,
body,
form,
fieldset,
p,
div,
h1,
h2,
h3,
h4,
h5,
h6 {
  -webkit-text-size-adjust: none;
}

html,
body {
  width: 100%;
  height: 100%;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  font-family: arial, sans-serif;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}

ins,
a {
  text-decoration: none;
}

del {
  text-decoration: line-through;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

img {
  display: inline-block;
}

input,
textarea {
  border: none;
  background: none;
  outline: none;
  -webkit-appearance: none;
}

* {
  -webkit-tap-highlight-color: transparent;
  -moz-tap-highlight-color: transparent;
  -ms-tap-highlight-color: transparent;
  -o-tap-highlight-color: transparent;
}

/*html {
    font-size: $browser-default-font-size;
}*/
html {
  font-size: 37.5px;
}

.wrap {
  width: 100%;
  height: 100%;
  display: flex;
  /* NEW, Spec - Opera 12.1, Firefox 20+ */
  display: -webkit-flex;
  /* NEW - Chrome */
  -webkit-flex-direction: column;
  flex-direction: column;
}

header {
  width: 100%;
  height: 4rem;
  background: url(../images/banner.png) no-repeat center center;
  background-size: cover;
}

header .head {
  width: 100%;
  height: 1.17333rem;
  margin-top: 0.26667rem;
  padding: 0 0.4rem;
  box-sizing: border-box;
}

header .head div {
  width: 100%;
  height: 100%;
  background: #fff;
  border-radius: 0.13333rem;
  display: flex;
  /* NEW, Spec - Opera 12.1, Firefox 20+ */
  display: -webkit-flex;
  /* NEW - Chrome */
  -webkit-align-items: center;
  align-items: center;
}

header .head div span {
  font-size: 0.37333rem;
  margin: 0 0.26667rem;
}

header .head div img:nth-child(2) {
  height: 0.21333rem;
  width: 0.21333rem;
}

header .head div img:nth-child(3) {
  height: 0.8rem;
  width: 0.10667rem;
  margin: 0 0.26667rem;
}

header .head div img:nth-child(4) {
  height: 0.53333rem;
  width: 0.53333rem;
}

header .head div input {
  -webkit-flex: 1 1 0%;
  flex: 1 1 0%;
}

section {
  -webkit-flex: 1 1 0%;
  flex: 1 1 0%;
}

section .banner {
  width: 100%;
  height: 4rem;
}

section .banner .swiper-wrapper .swiper-slide {
  display: flex;
  /* NEW, Spec - Opera 12.1, Firefox 20+ */
  display: -webkit-flex;
  /* NEW - Chrome */
  -webkit-flex-flow: row wrap;
  flex-flow: row wrap;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-align-items: center;
  align-items: center;
}

section .banner .swiper-wrapper .swiper-slide dl {
  display: flex;
  /* NEW, Spec - Opera 12.1, Firefox 20+ */
  display: -webkit-flex;
  /* NEW - Chrome */
  -webkit-flex-direction: column;
  flex-direction: column;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-align-items: center;
  align-items: center;
  margin: 0.26667rem 0;
  width: 25%;
  height: 1.6rem;
}

section .banner .swiper-wrapper .swiper-slide dl dt {
  width: 1.06667rem;
  height: 1.06667rem;
}

section .banner .swiper-wrapper .swiper-slide dl dt img {
  width: 100%;
  height: 100%;
}

section .title {
  width: 100%;
  height: 1.33333rem;
  padding: 0 0.4rem;
  box-sizing: border-box;
  display: flex;
  /* NEW, Spec - Opera 12.1, Firefox 20+ */
  display: -webkit-flex;
  /* NEW - Chrome */
  margin: 0.53333rem 0;
}

section .title img {
  width: 1.33333rem;
  margin-right: 0.4rem;
}

section .title .right {
  -webkit-flex: 1 1 0%;
  flex: 1 1 0%;
  display: flex;
  /* NEW, Spec - Opera 12.1, Firefox 20+ */
  display: -webkit-flex;
  /* NEW - Chrome */
}

section .title .right p {
  line-height: 0.53333rem;
  font-size: 0.37333rem;
}

section .con {
  width: 100%;
  display: flex;
  /* NEW, Spec - Opera 12.1, Firefox 20+ */
  display: -webkit-flex;
  /* NEW - Chrome */
  -webkit-flex-flow: row wrap;
  flex-flow: row wrap;
  padding: 0 0.4rem;
  box-sizing: border-box;
}

section .con > div {
  width: 45%;
  height: 1.86667rem;
  background: #FAFAFA;
  display: flex;
  /* NEW, Spec - Opera 12.1, Firefox 20+ */
  display: -webkit-flex;
  /* NEW - Chrome */
  -webkit-justify-content: space-between;
  justify-content: space-between;
  -webkit-align-items: center;
  align-items: center;
  margin: 0.4rem 0.21333rem;
}

section .con > div .left h2 {
  font-size: 0.42667rem;
  line-height: 0.66667rem;
}

section .con > div .left p {
  font-size: 0.37333rem;
  color: #ccc;
}

section .con > div img {
  width: 1.06667rem;
  height: 100%;
}

footer {
  width: 100%;
  height: 1.33333rem;
  display: flex;
  /* NEW, Spec - Opera 12.1, Firefox 20+ */
  display: -webkit-flex;
  /* NEW - Chrome */
  -webkit-justify-content: space-around;
  justify-content: space-around;
  text-align: center;
  -webkit-align-items: center;
  align-items: center;
  border-top: 0.02667rem solid #ccc;
}

footer img {
  width: 0.53333rem;
  height: 0.53333rem;
}
